.background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 800px;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.background img {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left; /* ここが重要 */  
}
.background .strategy-container,
.background .background-container {
  position: relative;
}

.background img.background-image {
  z-index: 3;
  left: -15%;
  /* 元のサイズを維持しつつ縮小をかける */
  width: 7170px;
  height: 5906px;
  pointer-events: none;
}

.background .light-fg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at top center, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 1.0) 100%);
  mix-blend-mode: spotlight;
  z-index: 5;
  pointer-events: none;
}

.background .mask-bg {
  position: absolute;
  top: 60vh;
  left: 0;
  width: 100%;
  height: 120vh;
  background: #000;
  z-index: 4;
  display: none;
}

/* Show mask background when viewport aspect ratio is less than 1 (portrait) */
@media (max-aspect-ratio: 1/1) {
  .background .mask-bg {
    display: block;
  }
}

.background img.strategy-image {
  z-index: 1;
  width: 8192px;
  height: 8192px;
  touch-action: none;
  user-select: none;
  transition: 0.1s transform ease-out;
}

@keyframes seaAnimation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1024px 1024px;
  }
}

.background .sea-bg {
  background: url("../../assets/map/sea_tile.webp") repeat;
  position: absolute;
  top: -2000px;
  left: -2000px;
  width: 10000px;
  height: 10000px;
  z-index: 0;
  transform-origin: top left;
  animation: seaAnimation 40s linear infinite;
  transition: 0.1s transform ease-out;
}
