#root {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  width: 100vw;
  height: 100vh;
}

.ui{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: translateX(0);
}
